@model IEnumerable<AsbaBank.Presentation.Mvc.ViewModels.AccountViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped">
    <tr>
        <th>
            Account Number
        </th>
        <th>
            Client
        </th>
        <th>
            Balance
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.AccountNumber
        </td>
        <td>
            @item.ClientName
        </td>
        <td>
            @item.Balance
        </td>
        <td>
            @item.Status
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })            
        </td>
    </tr>
}

</table>
