@model AsbaBank.Presentation.Mvc.Forms.AccountCreditForm

@{
    ViewBag.Title = "Credit Account";
}

<h2>Credit Account</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Credit Account</legend>

        @Html.HiddenFor(model => model.AccountId)

        <div class="editor-label">
            @Html.LabelFor(model => model.CreditAmount) 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreditAmount)
            @Html.ValidationMessageFor(model => model.CreditAmount)
        </div>

        <p>
            <input type="submit" value="Credit" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
